section.splide
  .splide__arrows
    button.splide__arrow.splide__arrow--prev Prev
    button.splide__arrow.splide__arrow--next Next

  .splide__track
    ul.splide__list
      li.splide__slide Slide 01
      li.splide__slide Slide 02
      li.splide__slide Slide 03

  .splide__pagination
