/*! ==========================================================================
 *  .button
 *  ========================================================================== */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  @include hover {
  }

  &:disabled {
  }
}
