/*! ==========================================================================
 *  .button
 *  ========================================================================== */
.button {
  --button-color: initial;
  --button-background-color: initial;
  --button-border-color: transparent;

  position: relative;
  display: inline-flex;
  gap: rem(8);
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 0;
  color: var(--button-color);
  text-align: center;
  text-decoration: none;
  background-color: var(--button-background-color);
  border: rem(1) solid var(--button-border-color);
  cursor: pointer;
  transition: var(--transition-colors);

  &:disabled {
    cursor: not-allowed;

    --button-background-color: rgba(239, 239, 239, 30%) !important;
    --button-color: rgba(16, 16, 16, 30%) !important;
    --button-border-color: rgba(118, 118, 118, 30%) !important;
  }

  // Colors (primary, default, secondary, pink and etc...)
  // .button--color-primary
  &--color-primary {
  }

  // Variants (solid, outlined, dashed)
  // .button--variant-solid
  &--variant-solid {
  }

  // Sizes (small, large or xs, sm, lg, xl, etc...)
  // .button--size-small
  &--size-small {
  }
}
