/*! =====================================
.container
====================================== */
.container {
  width: 100%;
  max-width: calc(var(--container-padding-x) * 2 + var(--container-width));
  margin-right: auto;
  margin-left: auto;
}
