/*! ==========================================================================
 *  .decor-image
 *  ========================================================================== */
.decor-image {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &::before {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    content: "";
  }
}
