/*! ==========================================================================
 *  .icon
 *  ========================================================================== */
.icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  // .icon--height-auto
  &--height-auto {
    height: auto;
  }

  svg,
  img {
    display: block;
    width: inherit;
    height: inherit;
    margin: 0;
    fill: currentcolor;
  }

  img {
    object-fit: contain;
    object-position: center;
  }
}
