/*! =====================================
.icon
====================================== */
.icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: color var(--transition-base);

  svg,
  img {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }

  img {
    object-fit: contain;
    object-position: center;
  }
}
