/*! ==========================================================================
 *  .page
 *  ========================================================================== */
.page {
  // .page__body
  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;

    &--lock {
      overflow: hidden;
    }
  }

  // .page__main
  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
