/*! ==========================================================================
 *  .page
 *  ========================================================================== */
.page {
  // .page__body
  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: var(--font-family-primary);

    &--lock {
      padding-right: var(--scrollbar-width-base);
      overflow: hidden;
    }
  }

  // .page__header
  &__header {
  }

  // .page__main
  &__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  // .page__footer
  &__footer {
    margin-top: auto;
  }
}
