<!DOCTYPE html>
<html lang="ru" class="page">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная страница</title>
    <meta name="description" content="" />
    <!-- <link rel="stylesheet" href="css/libs.min.css?v=1.0.0" /> -->
    <link rel="stylesheet" href="css/style.min.css?v=1.0.0" />
  </head>

  <body class="page__body">
    @@include("./components/_header.html")

    <main class="page__main"></main>

    @@include("./components/_footer.html")

    <!-- <script src="js/libs.min.js?v=1.0.0"></script> -->
    <script src="js/app.js?v=1.0.0"></script>
  </body>
</html>
