//- Lazyload images
img.lazy(data-src="img/image.png", alt="", width="auto", height="100%")

//- Splide slider
.splide(data-splide="{'type': 'loop', 'perPage': 3}")
  .splide__track
    ul.splide__list
      li.splide__slide Slide
  .splide__arrows
    button.splide__arrow.splide__arrow--prev Prev
    button.splide__arrow.splide__arrow--next Prev
  ul.splide__pagination

//- Accordion
.accordions(data-accordion)
  .accordion
    button.accordion__header Button
    .accordion__panel
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, ullam.
