/*! =====================================
.breadcrumbs
====================================== */
.breadcrumbs {
  // .breadcrumbs__list
  &__list {
    list-style: none;
  }

  // .breadcrumbs__item
  &__item {
    display: inline;

    &:not(:last-child) {
      &::after {
        display: inline;
        content: "/";
      }
    }
  }

  // .breadcrumbs__link
  &__link {
    // .breadcrumbs__link--no-active
    &--no-active {
      text-decoration: none;
      cursor: unset;
    }
  }
}
