button.js-modal-trigger(data-target="#modal") Button

dialog.modal.js-modal#modal
  .modal__wrapper
    .modal__content.js-modal-content
      form(method="dialog")
        button.modal__close-button Close
