button.js-modal-trigger(data-target="#modal") Кнопка

.modal.js-modal#modal(role="dialog", aria-modal="true", aria-hidden="true", aria-labelledby="modal-title")
  .modal__wrapper
    .modal__content
      button.modal__close-button.js-modal-close-button(type="button", aria-label="Закрыть окно") &times;
      h2.modal__title#modal-title Заголовок
