button.js-modal-trigger(data-target="#modal") Кнопка

dialog.modal.js-modal#modal
  .modal__wrapper
    .modal__content
      button.modal__close-button.js-modal-close-button(type="button", aria-label="Закрыть окно") &times;
      h2.modal__title Заголовок
