/*! ==========================================================================
 *  .modal
 *  ========================================================================== */
.modal {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  height: 100dvh;
  max-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  &::backdrop {
    background: rgba(0, 0, 0, 80%);
  }

  // .modal__wrapper
  &__wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: auto;
  }

  // .modal__content
  &__content {
    align-self: center;
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }

  // .modal__close-button
  &__close-button {
  }
}
