include ../components/_icon

block vars
  - let pageTitle = "Базовый шаблон";
  - let pageAlias = "base"

doctype html
html.page(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="stylesheet", href="css/libs.min.css?v=1.0.0")
    link(rel="stylesheet", href="css/style.min.css?v=1.0.0")

  body.page__body
    .page__wrapper

      include ../components/_header

      main.main.page__main
        block main

      include ../components/_footer

    include ../components/_modals

    block modals

    block scripts

    script(src="js/libs.min.js?v=1.0.0")
    script(src="js/app.js?v=1.0.0")
