// ==========================================
// Global Styles
// ==========================================
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  // scrollbar-gutter: stable;
}

body {
}

a {
  color: inherit;
  transition: color 0.2s ease;

  @media (any-hover: hover) {
    &:hover {
      color: #004999;
    }
  }

  &:active {
    color: #004999;
  }
}

ul,
ol {
  padding-left: 1.5em;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
video,
audio,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: rem(8);
  text-align: left;
  border: rem(1) solid #ddd;
}

:focus {
  outline-width: 0 !important;
}

:focus-visible {
  outline-width: rem(2) !important;
  outline-offset: rem(3) !important;
}

/* stylelint-disable-next-line at-rule-no-vendor-prefix */
@-moz-document url-prefix() {
  :focus {
    outline: rem(2) solid #ffd700 !important;
  }
}
