$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

:root {
  // Colors
  --color-true-black: #000;
  --color-true-white: #fff;

  // Transitions
  --transition-base: 0.3s ease-in-out;

  // Properties
  --outline-focus-width: 2px;
  --outline-focus-offset: 4px;
  --outline-focus-color: #000;
  --outline-focus-style: dashed;

  // Font Families
  --font-family-primary: "Noto Sans", arial, sans-serif;
  --font-family-secondary: "Tenor Sans", arial, sans-serif;

  // Text
  --font-body: 400 18px / 188% var(--font-family-primary);
}
