/*! ==========================================================================
 *  Variables
 *  ========================================================================== */
$breakpoints: (
  xs: 0,
  sm: rem(576),
  md: rem(768),
  lg: rem(992),
  xl: rem(1200),
  xxl: rem(1400),
);
$min-breakpoint: rem(320);
$max-breakpoint: rem(1400);
$max-viewport-width: rem(1400);

:root {
  // Fonts
  --font-family-primary: "Inter", sans-serif;

  // Transitions
  --transition-base: 0.3s ease;
  --transition-colors:
    color var(--transition-base), background-color var(--transition-base),
    border-color var(--transition-base);
  --transition-opacity:
    opacity var(--transition-base), visibility var(--transition-base);
}
