nav.breadcrumbs(aria-label="Навигация")
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Home
    li.breadcrumbs__item
      span.breadcrumbs__link(href="#", aria-disabled="true", aria-current="page") Home
